<div class="page-header">
  <%= link_to new_tipo_producto_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Tipo producto
  <% end %>
  <h1>Listing tipo_productos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>No tipo producto</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tipo_productos) do |tipo_producto| %>
            <td><%= tipo_producto.no_tipo_producto %></td>
            <td><%= link_to 'Show', tipo_producto %></td>
        <td><%= link_to 'Edit', edit_tipo_producto_path(tipo_producto) %></td>
        <td><%= link_to 'Destroy', tipo_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
