<div class="page-header">
  <%= link_to new_evento_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Evento
  <% end %>
  <h1>Listing eventos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>No evento</th>
            <th>Local</th>
            <th>Fe fecha evento</th>
            <th>Qt capacidad</th>
            <th>Tx descripcion evento</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @eventos) do |evento| %>
            <td><%= evento.no_evento %></td>
            <td><%= evento.Local %></td>
            <td><%= evento.fe_fecha_evento %></td>
            <td><%= evento.qt_capacidad %></td>
            <td><%= evento.tx_descripcion_evento %></td>
            <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
