<div class="page-header">
  <%= link_to new_cancion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Canción
  <% end %>
  <h1>Lista de canciones</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre cancion</th>
            <th>Artista</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
 
    <tbody>
      <%= content_tag_for(:tr, @cancions) do |cancion| %>
            <td><%= cancion.no_cancion %></td>
            <td><%= cancion.no_artista_cancion %></td>
            <td>
              <%= link_to 'Ver', cancion   %>
            </td>
        <td>
          <%= link_to 'Editar', edit_cancion_path(cancion)    %>
        </td>
        <td>
          <%= link_to 'Eliminar', cancion, method: :delete, data: { confirm: 'Are you sure?' }   %>
          </td>
      <% end %>
    </tbody>
  </table>
</div>
