<div class="page-header">
  <%= link_to productos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_producto_path(@producto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
    <%= link_to new_producto_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo
  <% end %>
  <h1>Ver producto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre producto:</dt>
  <dd><%= @producto.no_producto %></dd>

  <dt>Tipoproducto:</dt>
  <dd><%= @producto.TipoProducto %></dd>

  <dt>Precio producto:</dt>
  <dd><%= @producto.ss_precio_producto %></dd>

  <dt>Disponible:</dt>
  <dd><%= @producto.fl_disponible %></dd>

</dl>
