<div class="page-header">
  <%= link_to new_usuario_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Usuario
  <% end %>
  <h1>Listar usuarios</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre usuario</th>
            <th>Tipousuario</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Dni</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @usuarios) do |usuario| %>
            <td><%= usuario.no_usuario %></td>
            <td><%= usuario.TipoUsuario %></td>
            <td><%= usuario.no_apellido_paterno %></td>
            <td><%= usuario.no_apellido_materno %></td>
            <td><%= usuario.no_dni %></td>
            <td><%= usuario.email %></td>
            <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
