<p id="notice"><%= notice %></p>

<p>
  <strong>No usuario:</strong>
  <%= @usuario.no_usuario %>
</p>

<p>
  <strong>Tipousuario:</strong>
  <%= @usuario.TipoUsuario.no_tipo_usuario %>
</p>

<p>
  <strong>No apellido paterno:</strong>
  <%= @usuario.no_apellido_paterno %>
</p>

<p>
  <strong>No apellido materno:</strong>
  <%= @usuario.no_apellido_materno %>
</p>

<p>
  <strong>No dni:</strong>
  <%= @usuario.no_dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
